.woovator-woocommerce-checkout .form-row,.elementor-column.elementor-db,.my-accouunt-form-edit-address .form-row{
    display: block;
}

.elementor-widget-wv-product-add-to-cart p.stock {
  display: none;
}

/*Social Share*/
.woovator_product_social_share {
  align-items: center;
  display: flex;
  margin-top: 32px;
}
.woovator_product_social_share h2 {
  color: #666666;
  font-size: 18px;
  margin: 0;
  padding-right: 10px;
}
.woovator_product_social_share ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.woovator_product_social_share ul li{
    display: inline-block;
    margin-right: 15px;
}
.woovator_product_social_share ul li:last-child{
    margin-right: 0 !important;
}
.woovator_product_social_share ul li a {
  color: #797979;
  display: block;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.woovator_product_social_share ul li a:hover{
  color: #ff4136;
}

/* Product thubmnails */
.wvpro-product-thumbnails{}
.wvpro-product-thumbnails ul.woovator-thumbanis-image{
    margin: 10px -5px 0;
    padding: 0;
    list-style: none;
}
.wvpro-product-thumbnails ul.woovator-thumbanis-image li{
    display: inline-block;
    padding: 0 5px;
    width: 25%;
    cursor: pointer;
}
.wvpro-product-thumbnails ul.woovator-thumbanis-image li img{
    width: 100%;
}
.woocommerce div.product div.images.wvpro-product-thumbnails .woocommerce-product-gallery__image:nth-child(n+2) {
  display: inline-block;
  float: left;
  width: 100%;
}
.woocommerce div.product div.images.wvpro-product-thumbnails.thumbnails-tab-position-left .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 80%;
}
.woocommerce div.product div.images.wvpro-product-thumbnails.thumbnails-tab-position-right .woocommerce-product-gallery__image {
  width: 80%;
  float: left;
}

.thumbnails-tab-position-left.wvpro-product-thumbnails ul.woovator-thumbanis-image {
  float: left;
  margin: -5px 0;
  padding-right: 10px;
  width: 20%;
}
.thumbnails-tab-position-right.wvpro-product-thumbnails ul.woovator-thumbanis-image {
  float: left;
  margin: -5px 0;
  padding-left: 10px;
  width: 20%;
}
.thumbnails-tab-position-left.wvpro-product-thumbnails ul.woovator-thumbanis-image li,.thumbnails-tab-position-right.wvpro-product-thumbnails ul.woovator-thumbanis-image li{
    width: 100%;
    display: block;
    padding: 6px 0;
}
.thumbnails-layout-gallery .wv-thumbnails-image-area .wv-single-gallery{
    float: left;
    padding: 5px;
    width: 50%;
}
.wv-thumbnails-slider .wv-single-slider{
    padding: 0 10px;
}
.wv-thumbnails-slider .slick-arrow {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 40px;
  z-index: 999;
}
.wv-thumbnails-slider .slick-arrow.slick-prev{
    left: 0;
}
.wv-thumbnails-slider:hover .slick-arrow{
    opacity: 1;
    visibility: visible;
}

.wv-thumbnails-slider .slick-dots {
  bottom: 0px;
  display: flex;
  left: 50%;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
}
.wv-thumbnails-slider .slick-dots li {
  line-height: 12px;
  margin: 0 4px;
}
.wv-thumbnails-slider .slick-dots li button {
  background-color: transparent;
  border: 1px solid #4e4f4f;
  border-radius: 50px;
  height: 13px;
  padding: 0;
  text-indent: -9999px;
  width: 13px;
  line-height: 13px;
}
.wv-thumbnails-slider .slick-dots li.slick-active button {
  background-color: #282828;
  border-color: #282828;
}
.woocommerce-product-gallery__image .ht-product-label.ht-product-label-left {
  background: #000 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  line-height: 1;
  padding: 4px 10px;
  position: absolute;
  right: 15px;
  top: 15px;
}

/* Shop page */
.wv-shop-tab-pane{
  display: none;
}
.wv-shop-tab-pane.htactive{
  display: block;
}
.wv-shop-tab-links{
  float: left;
  list-style: outside none none;
  margin: 0 50px 0 0;
  padding: 0;
}
.wv-shop-tab-links li {
  display: inline-block;
  margin-right: 15px;
}
.wv-shop-tab-links li a:hover,.wv-shop-tab-links li a.htactive{
  color: #f05b64;
}
.wvshop-list-wrap {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
}
.wvshop-list-wrap .wvshop-list-content {
  margin: 0 26px 0 0;
  padding: 10px 0;
}
.wvshop-list-content h3 {
  color: #444444;
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  margin: 0 0 20px;
}
.wvshop-list-content .woocommerce-product-details__short-description p {
  color: #000;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 0 0 19px;
}
.ht-products .wvshop-list-wrap .ht-product .ht-product-inner{
  border: 0;
}
.wvproduct-list-img {
  position: relative;
}
.wvproduct-list-img .product-quickview {
  left: 50%;
  margin-top: 20px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  visibility: hidden;
}
.wvshop-list-wrap .wvproduct-list-img .product-quickview a {
  background-color: #fff;
  color: #000000;
  display: inline-block;
  font-size: 20px;
  height: 48px;
  line-height: 52px;
  text-align: center;
  width: 69px;
}
.wvproduct-list-img .product-quickview a:hover {
  background-color: #ff3535;
  color: #ffffff;
}
.wvshop-list-wrap:hover .product-quickview {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.wvshop-list-price-action-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}
.wvshop-list-price-action-wrap{}
.wvshop-list-price-action-wrap ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.ht-product-list-action ul li {
  display: block;
  float: left;
}
.woocommerce .ht-product-list-action ul li a{
  background: transparent none repeat scroll 0 0;
  border: 1px solid #000000;
  border-radius: 0 !important;
  color: #000000;
  display: inline-block;
  font-size: 20px;
  line-height: inherit;
  margin-right: 8px !important;
  padding: 12px 19px 8px;
}
.woocommerce .ht-product-list-action ul li.cart-list a.button, .woocommerce .ht-product-list-action ul li a.button.added, .woocommerce .ht-product-list-action ul li a.wc-forward,.ht-product-list-action ul li .compare-button a{
  font-size: 14px;
  padding: 10px 29px;
  text-transform: capitalize;
  font-weight: 400;
}
.woocommerce .ht-product-list-action ul li.cart-list a.button.added {
  display: none;
}
.woocommerce .ht-product-list-action .yith-wcwl-add-to-wishlist {
  margin-top: 0;
}
.woocommerce .ht-product-list-action .yith-wcwl-add-to-wishlist i{
  margin: 0;
}
.ht-product-list-action ul li a:hover, .woocommerce .ht-product-list-action ul li a.button:hover,.ht-product-list-action ul li .yith-wcwl-wishlistaddedbrowse a,.ht-product-list-action ul li .yith-wcwl-wishlistexistsbrowse a{
  background-color: #ff3535;
  border: 1px solid #ff3535;
  color: #ffffff;
}
.wvshop-list-wrap .wvshop-list-content .ht-product-list-price span.price {
  color: #ff3535;
  font-size: 20px;
  margin-right: 8px;
}
.wvshop-list-wrap .wvshop-list-content .ht-product-list-price span.price ins{
  background: transparent;
}
.woocommerce .woocommerce-customer-details address {
  word-wrap: break-word;
}

/* Stock Progressbar Style */
.woovator-stock-progress-bar .wvstock-info {
  color: #777;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}
.woovator-stock-progress-bar .wvstock-info span {
  color: #333;
  font-weight: 600;
  margin-left: 3px;
}
.woovator-stock-progress-bar .wvprogress-area {
  background-color: #444444;
  width: 100%;
}
.woovator-stock-progress-bar .wvprogress-area{
  height: 10px;
}
.woovator-stock-progress-bar .wvprogress-bar{
  height: 100%;
}
.woovator-stock-progress-bar .wvprogress-bar{
   background-color: #ff4136;
}

/*Sale Schedule Counter*/
.ht-single-product-countdown.ht-product-countdown-wrap .ht-product-countdown {
  max-width: 370px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ht-single-product-countdown.ht-product-countdown-wrap .ht-product-countdown .cd-single {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  max-width: 25%;
  padding: 2px;
}

.ht-single-product-countdown.ht-product-countdown-wrap .ht-product-countdown .cd-single .cd-single-inner {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

.ht-single-product-countdown.ht-product-countdown-wrap .ht-product-countdown .cd-single .cd-single-inner h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 2px;
  color: #ffffff;
}

.ht-single-product-countdown.ht-product-countdown-wrap .ht-product-countdown .cd-single .cd-single-inner p {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
}

/*My Account Page*/
.woovator_myaccount_page {
  overflow: hidden;
}
.woovator_myaccount_page .woocommerce-MyAccount-content .form-row {
  display: block;
}
.woovator_myaccount_page{}
.woovator-user-area {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.woovator-user-image {
  margin-right: 20px;
}
.woovator-user-image img {
  border-radius: 100% !important;
}
.woovator-user-info span {
  display: block;
}
.woovator-username {
  font-size: 20px;
}
.woovator-logout {
  font-size: 14px;
}
.woovator_myaccount_page .woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #ddd;
}
.woovator_myaccount_page .woocommerce-MyAccount-navigation ul li {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  line-height: 1.5;
}
.woovator_myaccount_page .woocommerce-MyAccount-navigation ul li a{
  transition: 0.4s;
}

.woocommerce-account .woovator_myaccount_menu_pos_vtop .woocommerce-MyAccount-navigation,.woocommerce-account .woovator_myaccount_menu_pos_vbottom .woocommerce-MyAccount-navigation{
  width: 100%;
  float: none;
}
.woovator_myaccount_menu_pos_vtop .woocommerce-MyAccount-navigation ul,.woovator_myaccount_menu_pos_vbottom .woocommerce-MyAccount-navigation ul{
  border:none;
}
.woovator_myaccount_menu_pos_vtop .woocommerce-MyAccount-navigation ul li,.woovator_myaccount_menu_pos_vbottom .woocommerce-MyAccount-navigation ul li{
  display: inline-block;
  border-bottom: 0;
  padding: 12px 10px;
}

.woocommerce-account .woovator_myaccount_menu_pos_vtop .woocommerce-MyAccount-content,.woocommerce-account .woovator_myaccount_menu_pos_vbottom .woocommerce-MyAccount-content{
  width: 100%;
  float: none;
}

.woovator_myaccount_menu_pos_hright .woocommerce-MyAccount-navigation,.woovator_myaccount_menu_pos_hleft .woocommerce-MyAccount-content{
  float: right;
}

.woovator_myaccount_menu_pos_hright .woocommerce-MyAccount-content,.woovator_myaccount_menu_pos_hleft .woocommerce-MyAccount-navigation{
  float: left;
}

/* Cart table */
.wv_cart_table{
  
}
.wv_cart_table .actions{
  text-align: right;
}
.wv_cart_table .coupon{
  float: left;
}
.woocommerce .cart.wv_cart_table .actions .button, .woocommerce .cart.wv_cart_table .actions input.button {
  background: #000;
  color: #fff;
  font-weight: normal;
  width: auto;
  height: auto;
}
.cart.wv_cart_table .actions .button, .cart.wv_cart_table .actions input.button{
  width: auto;
  height: auto;
}
.cart.wv_cart_table .actions .coupon + .wv_update_cart_shop {
  float: right;
}
.shop_table.cart td.actions a.wvbutton-continue-shopping {
  border: 1px solid currentColor;
  padding: 7px 10px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 5px;
  float: left;
}

/* Sale Notification */
.notifake{
  max-width: 550px; 
}

/* Normal  :1366px. */
@media (min-width: 1200px) and (max-width: 1400px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .wvshop-list-wrap .wvshop-list-content {
    margin: 0;
    overflow: hidden;
    padding: 10px 15px;
  }
  .woocommerce .ht-product-list-action ul li a{
    margin-bottom: 8px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {

  .wvshop-list-wrap .wvshop-list-content {
    margin: 0;
    overflow: hidden;
    padding: 10px 15px;
  }
  .wvshop-list-price-action-wrap {
    display: block;
    margin: 20px 0 0;
  }

  .woocommerce .wvshop-list-price-ratting .star-rating {
    float: none;
    margin-bottom: 15px;
  }
  .woocommerce .ht-product-list-action ul li a{
    margin-bottom: 8px;
  }
  .woocommerce .elementor-widget-woovator-custom-product-archive .woocommerce-ordering{
    float: none;
  }

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}